div{
    border: 3px solid red;
    overflow: hidden;
}
.img1{
    float: right;
}
#parent{
    border: 3px solid blue;
}

.child{
    border: 1px solid steelblue;
    height: 100px;
    background-color: skyblue;
    float: left;
}
.child1{
    border: 1px solid steelblue;
    height: 100px;
    background-color: skyblue;
    clear: both;
    /*float를 한 것의 빈공간을 지워주는건데
    왼쪽인지 오른쪽인지 모를경우 both  */
}
